---
title: Resources
nav: resources
---
<p>
    Here you can find all the data sources used in this explorer plus relevant work and projects from other sources.
</p>
<ul>
    <li><a href="https://github.com/open-innovations/true-north">GitHub Repo</a>: where the code and data that powers this site is stored.</li>
    <li><a href="https://open-innovations.github.io/oi-lume-viz/samples/">OI Lume Chart Samples</a>: a showcase of the different interactive charts we can use on this site.</li>
    <li><a href="https://github.com/economic-analytics/edd/tree/main">Economic Data Dashboard</a>: an open economic data repository which powers this site.</li>
    <li><a href="https://data.world/datasets/b-corp">B Corp datasets</a>: open datasets on B Corporations.</li>
    <li><a href="https://www.gov.uk/government/statistical-data-sets/immigration-system-statistics-data-tables#entry-clearance-visas-granted-outside-the-uk">Visa applications and outcomes</a>: open govenrment dataset for visa applications</li>
    <li><a href="https://data.youthfuturesfoundation.org">Youth Futures Foundation data dashboard</a>: data and research on employment outcomes for young people facing the greatest challenges.</li>
    <li><a href="https://open-innovations.org/blog/2023-04-20-transport-in-2023">Transport open data in 2023</a>: a blog about open transport data.</li>
    <li><a href="https://open-innovations.github.io/population-calculator/">Population around a point</a>: a tool to work out population around a point anywhere in the world.</li>
<ul>