@font-face {
    font-family: 'Libre Caslon Text';
    src: url('fonts/LibreCaslon/librecaslontext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Caslon Text';
    src: url('fonts/LibreCaslon/librecaslontext-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Caslon Text';
    src: url('fonts/LibreCaslon/librecaslontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--oi-title-fontstack: Libre Caslon Text,serif;
	--oi-main-fontstack: Roboto,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.brabners-header {
		background-color: #131216;
		color: white;
}
h1, .title, .number, .bignum, ol>li:before {
	letter-spacing: -.05em;
	font-family: var(--oi-title-fontstack);
}

h1 {
	font-size: 48px !important;
	font-weight: bold;
}
h2, h3, h4 {
	font-family: var(--oi-main-fontstack);
	font-weight: bold;
}
h2 {
	font-size: 1.9375rem;
	line-height: 40px;
}
h3 {
	font-size: 1.75rem;
	line-height: 1.25em;
}
h4 {
	font-size: 1.5rem;
	line-height: 1.25em;
}
ol {
	margin:0 0 1.5em;
	padding:0;
	counter-reset:item;
}
 
ol>li {
	margin:0;
	padding:0 0 0 2em;
	text-indent:-2em;
	list-style-type:none;
	counter-increment:item;
}
 
ol>li:before {
	display:inline-block;
	width:1.5em;
	padding-right:0.5em;
	color: #97694e;
	font-size: 1.5rem;
	font-weight: bold;
	text-align:right;
	content:counter(item) ".";
}
.in-section { position: relative; }
.in-section:before {
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-color: white transparent transparent;
	border-style: solid inset inset;
	border-width: 8px 8px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%,100%,0);	
}

/* Tweak OI Lume styles */
.tooltip .subtitle {
	font-size: 1.25rem;
}

.oi-legend-inner .oi-legend-item { padding: 0.25rem 0.5rem!important; }
.oi-legend-inner .oi-legend-item.oi-series-on { outline: 0!important; background: none!important; }
.oi-legend-inner .oi-legend-item:hover, .oi-legend-inner .oi-legend-item:focus { outline: 1px solid #97694e!important; }
.oi-legend-inner .oi-legend-item.oi-series-off { opacity: 0.3; }

.oi-dashboard-inner { display: flex; gap: 1em; flex-wrap: wrap; flex-direction: row; align-items: stretch; }
.oi-dashboard-inner .panel {
	width: 330px;
	flex-grow: 1;
	background: #f5f7f6;
	color: black;
	padding: 1rem;
}
.oi-dashboard-inner .panel h3 { font-size: 1.2rem; }
.oi-dashboard-inner .panel .bignum { font-size: 3rem; color: #97694e; }
.oi-dashboard-inner .footnote {
	font-size: 0.7em;
	text-align: left;
	display: block;
	line-height: 1.5em;
	margin-top: 0.5rem;
	}