@import 'css/brabners-fonts.css';
:root {
	color: #262626;
	--color-heading: #9d6646;
	--color-heading-light: #dc8c5d;
}

.bg-navy-radial { background-image: radial-gradient(44.76% 50% at 50% 50%,#373f50 5.11%,#181b25 100%); }
.brabners-bg-dark { background: #181b25; color: white; }
.brabners-bg-light { background: white; color: #262626; }

html, body { line-height: 1.875rem; }
p, iframe, h2, h3, figure, ul, ol, .block, .padded-bottom { margin-bottom: 1.25rem; letter-spacing: .03rem; }

header .logo, header .title { color: var(--color-heading-light); }
header .logo svg { height: 22px; }
header .title { padding-top: 1rem; font-size: 2.6875rem; }
header a:hover, header a:focus { text-decoration: none; }

.holder { width: 1200px; }

h1, .title, .number, .bignum, ol>li:before {
	letter-spacing: -.05em;
	font-family: var(--oi-title-fontstack);
}
h1, h2, h3, h4 {
	color: var(--color-heading);
	margin-bottom: 0;
}
h1 {
	font-size: 2.6875rem;
	font-weight: 900;
}
h2, h3, h4 {
	font-family: var(--oi-title-fontstack);
	font-weight: 900;
}
h2 {
	font-size: 1.9375rem;
	line-height: 40px;
}
h3 {
	font-size: 1.75rem;
	line-height: 1.25em;
}
h4 {
	font-size: 1.5rem;
	line-height: 1.25em;
}
ol {
	margin:0 0 1.5em;
	padding:0;
	counter-reset:item;
}
 
ol>li {
	margin:0;
	padding:0 0 0 2em;
	text-indent:-2em;
	list-style-type:none;
	counter-increment:item;
}
 
ol>li:before {
	display:inline-block;
	width:1.5em;
	padding-right:0.5em;
	color: #b17450;
	font-size: 1.5rem;
	font-weight: bold;
	text-align:right;
	content:counter(item) ".";
}
.in-section { position: relative; }
.in-section:before {
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-color: white transparent transparent;
	border-style: solid inset inset;
	border-width: 8px 8px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%,100%,0);	
}

/* Tweak OI Lume styles */
.tooltip .subtitle {
	font-size: 1.25rem;
}

.oi-legend-inner .oi-legend-item { padding: 0.25rem 0.5rem!important; }
.oi-legend-inner .oi-legend-item.oi-series-on { outline: 0!important; background: none!important; }
.oi-legend-inner .oi-legend-item:hover, .oi-legend-inner .oi-legend-item:focus { outline: 1px solid #b17450!important; }
.oi-legend-inner .oi-legend-item.oi-series-off { opacity: 0.3; }

.oi-dashboard + * { margin-top: 1rem; }
.oi-dashboard-inner { display: flex; gap: 1em; flex-wrap: wrap; flex-direction: row; align-items: stretch; }
.oi-dashboard-inner .panel {
	width: 330px;
	flex-grow: 1;
	background: #efe9e5;
	color: black;
	padding: 1rem;
}
.oi-dashboard-inner .panel h3 { font-size: 1.2rem; }
.oi-dashboard-inner .panel span { display: block; }
.oi-dashboard-inner .panel .bignum { font-size: 3rem; line-height: 1em; margin-top: 0.5rem; }
.oi-dashboard-inner .footnote {
	font-size: 0.7em;
	text-align: left;
	display: block;
	line-height: 1.5em;
	margin-top: 0.5rem;
	}

.oi-map .overlay > .outline > * { stroke: #262626!important; }

.oi-slider { margin-bottom: 1rem; }
.oi-slider-inner {  margin:auto; text-align: center; max-width: 500px; }
.oi-slider-inner label { display: block; text-align: center; font-family: Poppins; }
input[type="range"].oi-slider-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; cursor: pointer; width: 100%; margin-bottom: 0.25em; }
input[type="range"].oi-slider-control:focus { outline: none; }
input[type="range"].oi-slider-control::-webkit-slider-runnable-track { background-color: #dbcabe; border-radius: 0.5em; height: 0.5em; }
input[type="range"].oi-slider-control::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; margin-top: -8px; background-color: #9d6646; border-radius: 1em; height: 1.5em; width: 1.5em; }
input[type="range"].oi-slider-control:focus::-webkit-slider-thumb { outline: 4px solid #262626; }
input[type="range"].oi-slider-control::-moz-range-track { background-color: #dbcabe; border-radius: 0.5rem; height: 0.5rem; }
input[type="range"].oi-slider-control::-moz-range-thumb { background-color: #9d6646; border: none; border-radius: 1em; height: 1.5em; width: 1.5em; }
input[type="range"].oi-slider-control:focus::-moz-range-thumb{ outline: 4px solid #262626; }

.oi-filter .oi-filter-button { border: 0px; background: #dc8c5d; border-radius: 1.5rem; }
.oi-filter.searching .oi-filter-button { border-top-right-radius: 0; border-bottom-right-radius: 0;  }
.oi-filter-button svg g { stroke: black; }
.oi-filter input { border: solid var(--filter-padding) #dc8c5d; border-radius: 1.5rem; }
.oi-filter-results { padding: 0 1rem; }
.oi-filter-results button { border: 0; }

.toggle-section button:hover, .toggle-section button:focus { cursor: help; }
.toggle-section button:hover svg, .toggle-section button:focus svg { color: rgb(38 38 38)!important; }
.toggle-section + * { margin-top: 1rem; }
