@import 'css/brabners-fonts.css';
:root {
	--color-heading: var(--color-copper);
	--color-heading-light: var(--color-light-copper);
	--color-copper: #9D6646;
	--color-light-copper: #DC8C5D;
	--color-navy: #181B25;
	--color-light-navy: #475062;
	--color-blue: #175677;
	--color-light-blue: #3B7EA1;
	--color-dark-stone-pink: #E1A1B8;
	--color-stone-pink: #F8DBDB;
	--color-dark-sunset-yellow: #CF7F00;
	--color-sunset-yellow: #F4B16D;
	--color-lunar-green: #274E37;
	--color-light-lunar-green: #5F6C3B;
	--color-storm: #DBCABE;
	--color-mushroom: #EFE9E5;
	--color-cream: #FBF9F8;
	--color-mid-grey: #C7C8C9;
	--color-light-grey: #F5F5F5;
	--color-dark: #262626;
	color: #262626;
}

.warning { color: var(--color-dark); background-color: #f8d3b0; filter: drop-shadow(0px 0px 1px #643f10); }

.bg-navy-radial { background-image: radial-gradient(44.76% 50% at 50% 50%,var(--color-light-navy) 5.11%,var(--color-navy) 100%); }
.brabners-bg-dark { background: var(--color-navy); color: white; }
.brabners-bg-navy { background: #252935; color: white; }
.brabners-bg-light { background: white; color: rgb(43, 43, 43); }

html, body { line-height: 1.875rem; }
p, iframe, h2, h3, figure, ul, ol, .block, .padded-bottom { margin-bottom: 1.25rem; letter-spacing: .03rem; }

header .logo, header .title { color: var(--color-heading-light); }
header .logo svg { height: 22px; }
header .title { padding-top: 1rem; font-size: 2.6875rem; }
header a:hover, header a:focus { text-decoration: none; }
footer a { text-decoration: none; }
footer section { padding: 0; }
footer .logo { display: block; text-align: center; }
footer .logo svg { max-width: 50%; width: 400px; }
/*footer .logo .st0 { fill: var(--color-light-copper); }*/

.holder { width: 1200px; }

h1, .title, .number, .bignum, ol>li:before {
	letter-spacing: -.05em;
	font-family: var(--oi-title-fontstack);
}
h1, h2, h3, h4 {
	color: var(--color-heading);
	margin-bottom: 0;
}
h1 {
	font-size: 2.6875rem;
	font-weight: 900;
}
h2, h3, h4 {
	font-family: var(--oi-title-fontstack);
	font-weight: 900;
}
h2 {
	font-size: 1.9375rem;
	line-height: 40px;
}
h3 {
	font-size: 1.75rem;
	line-height: 1.25em;
}
h4 {
	font-size: 1.5rem;
	line-height: 1.25em;
}
ol {
	margin:0 0 1.5em;
	padding:0;
	counter-reset:item;
}
 
ol>li {
	margin:0;
	padding:0 0 0 2em;
	text-indent:-2em;
	list-style-type:none;
	counter-increment:item;
}
 
ol>li:before {
	display:inline-block;
	width:1.5em;
	padding-right:0.5em;
	color: var--color-copper;
	font-size: 1.5rem;
	font-weight: bold;
	text-align:right;
	content:counter(item) ".";
}
.in-section { position: relative; }
.in-section:before {
	display: block;
	width: 0;
	height: 0;
	content: "";
	border-color: white transparent transparent;
	border-style: solid inset inset;
	border-width: 8px 8px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%,100%,0);	
}

/* Tweak OI Lume styles */
.tooltip .subtitle {
	font-size: 1.25rem;
}

.oi-legend-inner .oi-legend-item { padding: 0.25rem 0.5rem!important; }
.oi-legend-inner .oi-legend-item.oi-series-on { outline: 0!important; background: none!important; }
.oi-legend-inner .oi-legend-item:hover, .oi-legend-inner .oi-legend-item:focus { outline: 1px solid var--color-copper!important; }
.oi-legend-inner .oi-legend-item.oi-series-off { opacity: 0.3; }

.oi-dashboard + * { margin-top: 1rem; }
.oi-dashboard-inner { display: flex; gap: 1em; flex-wrap: wrap; flex-direction: row; align-items: stretch; }
.oi-dashboard-inner .panel {
	width: 330px;
	flex-grow: 1;
	background: var(--color-mushroom);
	color: black;
	padding: 1rem;
}
.oi-dashboard-inner .panel h3 { font-size: 1.2rem; }
.oi-dashboard-inner .panel span { display: block; }
.oi-dashboard-inner .panel .bignum { font-size: 3rem; line-height: 1em; margin-top: 0.5rem; }
.oi-dashboard-inner .footnote {
	font-size: 0.7em;
	text-align: left;
	display: block;
	line-height: 1.5em;
	margin-top: 0.5rem;
}

.oi-map .overlay > .outline > * { stroke: var(--color-dark)!important; }

.oi-slider { margin-bottom: 1rem; }
.oi-slider-inner {  margin:auto; text-align: center; max-width: 500px; }
.oi-slider-inner label { display: block; text-align: center; font-family: Poppins; }
input[type="range"].oi-slider-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; cursor: pointer; width: 100%; margin-bottom: 0.25em; }
input[type="range"].oi-slider-control:focus { outline: none; }
input[type="range"].oi-slider-control::-webkit-slider-runnable-track { background-color: var(--color-storm); border-radius: 0.5em; height: 0.5em; }
input[type="range"].oi-slider-control::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; margin-top: -8px; background-color: var(--color-copper); border-radius: 1em; height: 1.5em; width: 1.5em; }
input[type="range"].oi-slider-control:focus::-webkit-slider-thumb { outline: 4px solid var(--color-dark); }
input[type="range"].oi-slider-control::-moz-range-track { background-color: var(--color-storm); border-radius: 0.5rem; height: 0.5rem; }
input[type="range"].oi-slider-control::-moz-range-thumb { background-color: var(--color-copper); border: none; border-radius: 1em; height: 1.5em; width: 1.5em; }
input[type="range"].oi-slider-control:focus::-moz-range-thumb{ outline: 4px solid var(--color-dark); }

.oi-filter .oi-filter-button { border: 0px; background: var(--color-light-copper); border-radius: 1.5rem; }
.oi-filter.searching .oi-filter-button { border-top-right-radius: 0; border-bottom-right-radius: 0;  }
.oi-filter-button svg g { stroke: black; }
.oi-filter input { border: solid var(--filter-padding) var(--color-light-copper); border-radius: 1.5rem; }
.oi-filter-results { padding: 0 1rem; }
.oi-filter-results button { border: 0; }

details summary { cursor: pointer; }
details summary > :first-child {
	position: relative;
}
details summary > :first-child:after {
	content: "";
	width: 0.8em;
	height: 0.8em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 32 32'%3E%3Crect class='vert' height='30' width='8' y='1' x='12'%3E%3C/rect%3E%3Crect height='8' width='30' y='12' x='1'%3E%3C/rect%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center right;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate3d(0,-50%,0);
}
details summary + * { margin-top: 1rem; }
details[open] summary > :first-child:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Crect height='8' width='30' y='12' x='1'%3E%3C/rect%3E%3C/svg%3E");
}
details summary::marker {
	font-size: 0;
	content: "";
}
details + * { margin-top: 1rem; }


@media only screen and (max-width: 640px) {
	header .logo svg { width: auto; }
	header nav ul { font-size: 1rem; }
	header nav ul > li > a { padding: 0.5rem; }
}