{{ export function describe_data(id) }}
	<p><strong>Dataset:</strong> {{ edd_dictionary[id]['desc'] |> JSON.stringify |> replace(/"/g, '') }}</p>
	<p><strong>Last update:</strong> {{ edd_dictionary[id]['last_update'] |> JSON.stringify |> replace(/"/g, '') }}</p>
	<p><strong>Next update:</strong> {{ edd_dictionary[id]['next_update'] |> JSON.stringify |> replace(/"/g, '') }}</p>
{{ /export }}
