---
title: Purpose & Social Impact
---
<p>
    This group will focus on developing initiatives that deliver purpose and social 
    impact for the benefit of underserved communities across the North
</p>