---
title: People, Skills and The Future
theme: People, Skills and The Future
---
<h3>Topics</h3>
<ol>
    {{ for page of search.pages("theme=people-skills-future") }}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {{ /for }}
</ol>
