---
title: People, Skills and the Future
theme: People, Skills and the Future
---
<p>Test page</p>
{{ comp.oi.chart.line({ config: {
    data: unemployment,
    series: [{
        title: "E12000001",
        x: "index",
        y: "E12000001" }]
        }
    }) 
}}

<p>test</p>

