---
layout: template/base.vto
---
{{ if nicetheme!=undefined }}
    <p>Back to <a href="/themes/{{ theme }}">{{ nicetheme }}</a><p>
{{ /if }}
{{ if themepage==true }}
    <p>Back to <a href="/themes/">Themes</a></p>
{{ /if }}
<h1>{{ title }}</h1>
{{ if updated }}
<p class="updated">Updated: <time datetime="{{ updated }}">{{ updated |> date('d MMMM yyyy') }}</time></p>
{{ /if }}
{{ content |> safe }}
