---
title: Stories
nav: stories
---
<h3>Northern Stars</h3>
<p>Placeholder for text explaining Northern Stars</p>
<ol>
    {{for item of dashboard.northern_stars.rows }}
            <li><a href="{{ item['article_link'] }}">{{ item['company_name'] }}</a>, {{ item['date_published'] }}</li>
    {{ /for }}
</ol>