---
title: Innovation and Change
theme: Innovation and Change
---
<p>
    This group seeks to identify new approaches to actively engage non-digitally 
    native small businesses in leveraging the potential of new technologies to drive 
    their future growth
</p>
<h3>Topics</h3>
<ol>
    {{ for page of search.pages("theme=innovation-change") }}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {{ /for }}
</ol>